body {}
@b-header: #EFEEE5;
@b-footer: #333333;
.main-header
{
	background: @b-header;
	min-height: 100px;
}

.main-content
{
	min-height: 700px;
}

.main-footer
{
	background: @b-footer;
	min-height: 100px;
}