@midi:  ~"(max-width: 767px)";

body {
	padding-top:20px; 
}

.panel-heading
{
	div.carousel
	{
		div.carousel-inner
		{
			background: none;
			div.item 
			{
				width:100%;
				height:200px;
				div.small
				{
					margin:0;
					padding:0;
					width: 100%;
					height: 100%;
					display: table;
					text-align: center;
				}
				div.small img{
					margin: auto;
					max-width: 100%;
					max-height: 200px;
					display: table;
					text-align: center;
					display: table-cell;
    				vertical-align: middle;
    				text-indent: -9999999999px;
				}

				div.small img.lazy
				{
					min-height: 100px;
					min-width: 100px;
					background: url(img/loader.gif) center center no-repeat;
				}
			}
		}

		.carousel-control
		{
			background: none;
		}
	}
}