@midi:  ~"(max-width: 767px)";

body {

}

.panel-heading
{
	div.carousel
	{
		div.carousel-inner
		{
			background: none;
			div.item 
			{
				width:100%;
				height:200px;
				div.small
				{
					margin:0;
					padding:0;
					width: 100%;
					height: 100%;
					text-align: center;
	
					div.carousel-caption 
    				{
    					margin: 0;
    					padding: 0;
    					bottom: 0;
    					display: none;
    					p 
    					{
    						background: rgba(0, 0, 0, 0.5);
    						color: #fff;
    					}
    				}

				}

				div.small:hover{
					div.carousel-caption 
    				{
    					display: block;
    				}
				}

				div.small img{
					position: absolute;
					margin: auto;
					max-width: 100%;
					max-height: 200px;
					text-align: center;
    				text-indent: -9999999999px;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    clear: both;
				}

				div.small img.lazy
				{
					min-height: 100px;
					min-width: 100px;
					background: url(img/loader.gif) center center no-repeat;
				}
			}
		}

		.carousel-control
		{
			background: none;
		}
	}
}